<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editing images</title>
</head>

<body>
    <div class="container">
        <header>
            <h1>Photo Editing</h1>
        </header>
        <h2>Image 1</h2>
        <img src="images/black-dog.jpg" alt="black-dog">
        <img src="images/black-dog-photopea.jpg" alt="black-dog-photopea">
        <h2>Image 2</h2>
        <img src="images/halloween.jpg" alt="halloween">
        <img src="images/halloween-photopea.jpg" alt="halloween-photopea">
        <h2>Image 3</h2>
        <img src="images/lake.jpg" alt="lake">
        <img src="images/lake-photopea.jpg" alt="lake-photopea">
        <h2>Image 4</h2>
        <img src="images/pointer.jpg" alt="pointer">
        <img src="images/pointer-photopea.jpg" alt="pointer-photopea">
        <h2>Image 5</h2>
        <img src="images/puppy.jpg" alt="puppy">
        <img src="images/puppy-photopea.jpg" alt="puppy-photopea">
    </div>

</body>

</html>